policy_module(xcientos, 1.100.1)

########################################
#
# Declarations
#

type xcientos_t;
type xcientos_exec_t;
init_daemon_domain(xcientos_t, xcientos_exec_t)

permissive xcientos_t;

type xcientos_initrc_exec_t;
init_script_file(xcientos_initrc_exec_t)

type xcientos_conf_t;
files_type(xcientos_conf_t)

type xcientos_var_lib_t;
files_type(xcientos_var_lib_t)

type xcientos_var_run_t;
files_type(xcientos_var_run_t)

type xcientos_port_t;
corenet_port(xcientos_port_t)

########################################
#
# xcientos local policy
#
allow xcientos_t self:process { fork };

allow xcientos_t self:fifo_file rw_fifo_file_perms;
allow xcientos_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(xcientos_t, xcientos_conf_t, xcientos_conf_t)
manage_files_pattern(xcientos_t, xcientos_conf_t, xcientos_conf_t)

manage_dirs_pattern(xcientos_t, xcientos_var_lib_t, xcientos_var_lib_t)
manage_files_pattern(xcientos_t, xcientos_var_lib_t, xcientos_var_lib_t)
files_var_lib_filetrans(xcientos_t, xcientos_var_lib_t, { dir file })

manage_dirs_pattern(xcientos_t, xcientos_var_run_t, xcientos_var_run_t)
manage_files_pattern(xcientos_t, xcientos_var_run_t, xcientos_var_run_t)

sysnet_dns_name_resolve(xcientos_t)
corenet_all_recvfrom_unlabeled(xcientos_t)

allow xcientos_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(xcientos_t)
corenet_tcp_sendrecv_generic_node(xcientos_t)
corenet_tcp_sendrecv_all_ports(xcientos_t)
corenet_tcp_bind_generic_node(xcientos_t)

gen_require(`
    type xcientos_port_t;
')
allow xcientos_t xcientos_port_t:tcp_socket name_bind;

gen_require(`
    type xcientos_port_t;
')
allow xcientos_t xcientos_port_t:tcp_socket name_connect;

domain_use_interactive_fds(xcientos_t)

files_read_etc_files(xcientos_t)

miscfiles_read_localization(xcientos_t)

sysnet_dns_name_resolve(xcientos_t)

allow xcientos_t xcientos_exec_t:file execute_no_trans;
allow xcientos_t self:process setsched;
corecmd_exec_ls(xcientos_t)
corenet_tcp_connect_http_port(xcientos_t)
dev_read_urand(xcientos_t)
fs_getattr_xattr_fs(xcientos_t)
kernel_read_system_state(xcientos_t)
